# Standard lucos vars (provided automatically by lucos_creds)
SYSTEM=lucos_photos
ENVIRONMENT=
PORT=
APP_ORIGIN=

# PostgreSQL
POSTGRES_PASSWORD=

# External lucos services
LOGANNE_ENDPOINT=
LUCOS_CONTACTS_URL=
